.wrapper {
    border: none;
    color: white;
    width: 500px;
    text-align: center;
    display: grid;
    justify-content: center;
}

.wrapper p {
    text-align: center;
}

.wrapper input {
    border: none !important;
    background-color: #1F1F1F;
    height: 45px;
    width: 320px;
    color: white;
    margin-right: 5px;
    border-radius: 8px;
}

.search_button {
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none !important;
    border-radius: 8px;
    background-color: red !important;
    height: auto;
    margin-left: 5px;
}

.wrapper a {
    font-size: 13px;
    opacity: .5;
    font-weight: 300;
    color: white !important;
    text-decoration: underline;

}